[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[build.environment]
  NETLIFY_FORMS = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
